@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

body {
  margin: 0;
  padding: 0;
  background: #f0f3f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Open Sans Condensed', sans-serif;
}

label {
  color: #8d8d8d;
}
